#homepage {
  display: grid;
  gap: 1rem;
  grid-template-columns: 100%;
  /* grid-template-rows: 30% 70%; */
  grid-template-areas:
    "📸"
    "🚨"
    "🎶";
}
@media (min-width: 640px) {
  #homepage {
    display: grid;
    gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
      "🚨 📸"
      "🚨 🎶";
  }
}

#homepage-intro {
  grid-area: 🚨;
}
#homepage-headshot {
  grid-area: 📸;
}
#homepage-profession-about {
  grid-area: 🎶;
}
