#homepage {
  display: grid;
  gap: 1rem;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "👋 📸"
    "📖 📖"
    "🎶 🎶";
}
@media (min-width: 1280px) {
  #homepage {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "👋 📸"
      "📖 🎶";
  }
}

#homepage-intro {
  grid-area: 👋;
}
#homepage-about {
  grid-area: 📖;
}
#homepage-headshot {
  grid-area: 📸;
}
#homepage-personal-about {
  grid-area: 🎶;
}
#homepage-button {
  grid-area: 🔘;
}
